<main role="main" class="container">
  <div class="form-group mb-4">
            <input id="exampleFormControlInput2" type="email" placeholder="What're you searching for?" class="form-control form-control-underlined border-primary">
  </div>
  <div class="container mt-6 ">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-3 .mx-auto">
        <div class="card" >
        <div class="card-body text-center">
          <h5 class="card-title "> TC1019</h5>
          <p class="card-text">Matemáticas computacionales</p>
          <p class="card-text">Profesor: Julián Herrera</p>
          <p class="card-text">Horario: LJ 13.30-15.30</p>
          <a href="#" class="btn btn-primary">Favorito</a>
        </div>
      </div>
    </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mt-3 .mx-auto">
        <div class="card" >
        <div class="card-body text-center">
          <h5 class="card-title "> TC1020</h5>
          <p class="card-text">Métodos númericos</p>
          <p class="card-text">Profesor: Saúl Neri</p>
          <p class="card-text">Horario: LMV 15.30-18.30</p>
          <a href="#" class="btn btn-primary">Favorito</a>
        </div>
      </div>
    </div>
    </div>
  </div>

 <!--  
 <div class="form-group mb-4 mt-1">
   <input style="border-top: 0px solid; border-left: 0px solid; border-right:0px solid " id="exampleFormControlInput2" type="email" placeholder="Looking for a course?" class="form-control form-control-underlined border-primary">
 </div>
  -->
</main>
